
form {
    width: 500px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 1px 5px 45px rgba(162, 0, 255, 0.562);
    background-color: rgba(0, 255, 170, 0); 
    backdrop-filter: blur(5px);
}


button{
    width: 100px;
    color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 45px rgba(162, 0, 255, 0.250);
    background-color: rgba(0, 0, 0, 0.575);
}

input{
    width: 250px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 5px 45px rgba(162, 0, 255, 0.250);
    background-color: #d1f4fa94;color: rgba(255, 255, 255, 0.849);
    background-color: rgba(0, 255, 170, 0.025); 
  }
  input::placeholder {
    color: #ffffff6b;
}
input:focus {
    border: 2px solid rgba(162, 0, 255, 0.150);
    outline: none;
    box-shadow: 1px 5px 45px rgba(162, 0, 255, 0.600);

  }
  #mensagi {
    width: 300px;
    font-size: 16;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc59;
    
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff8e;
  }






h1{
    color: rgba(255, 255, 255, 0.651);  
}

.caixa{
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 100px;
    background-color: rgba(194, 130, 231, 0.205);
    margin: 10px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 1px 5px 45px #39f5b631;

}

body{
    background-image: url('imagiiii.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}            

hr{
    background-color: blueviolet;
}
